<% include partials/header %>
  <h1 class="text-center">Exchange Rates</h1>

  <div class="container-fluid">
    <table class="table table-sm text-center col-6 mx-auto w-50 table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Pair</th>
          <th scope="col">Avg. Volume:</th>
          <th scope="col">Current Volume:</th>
          <th scope="col">Volume diff:</th>
          <th scope="col"> % Diff:</th>

        </tr>
      </thead>
      <tbody>

          <%  for (var key in ticker) { %>
            <% if (ticker.hasOwnProperty(key) && key[5] != 6) { %>
              <%   binance.candlesticks(key, "12h", function(ticks, symbol) {%>
                <% const period = "12h"; var volumeSum = 0;var last11 = ticks.slice(-11);last11.pop();%>
                <% last11.forEach((currentTick) => { %>
                <% let [time, open, high, low, close, volume, closeTime, assetVolume, trades, buyBaseVolume, buyAssetVolume, ignored] = currentTick;%>
                <% volumeSum += Number.parseFloat(volume); %>
                <%  }); %>
                <% volumeSum = Number.parseFloat(volumeSum) / 10;  %>
                <% let [, , , , , volumeLast, , , , , , ] = ticks[ticks.length - 1];%>
                <% var volumeDiff = volumeSum - Number.parseFloat(volumeLast);%>
                <% var percentDiff = volumeDiff / volumeSum * 100; percentDiff = percentDiff.toFixed(2); %>
                
                <tr>
                  <td>
                      <%= symbol %>
                    </td>
                     
                      <td>
                        <%= volumeSum %>
                      </td>
                      <td>
                        <%= Number.parseFloat(volumeLast) %>
                      </td>

                      <td <% if (volumeDiff>= 0) { %> style="color:green;"
                        <%}  else { %>
                          style="color:red;"
                          <% } %>
                            >
                            <%= volumeDiff %>
                      </td>

                      <td <% if (volumeDiff>= 0) { %> style="color:green;"
                        <%}  else { %>
                          style="color:red;"
                          <% } %>
                            >
                            <%= percentDiff %>%
                      </td>
                    </tr>
                      <% });%>
                    <% }} %>
      </tbody>
    </table>
  </div>
  <% include partials/footer %>
















