<% include partials/header %>
  <h1 class="text-center">Exchange Rates</h1>

  <div class="container-fluid">
    <table class="table table-sm text-center col-6 mx-auto w-50 table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Pair</th>
          <th scope="col">Avg. Volume:</th>
          <th scope="col">Current Volume:</th>
          <th scope="col">Volume diff:</th>
          <th scope="col"> % Diff:</th>

        </tr>
      </thead>
      <tbody>
        <%btcIndexes.forEach((index) =>{%>
          <tr>
            <td>
              <%= index.pair   %>
            </td>
            <td>
              <%= index.avgVolume   %>
            </td>
            <td>
              <%= index.curVolume   %>
            </td>
            <td <% if (index.volumeDiff>= 0) { %> style="color:green;"
              <%}  else { %>
                style="color:red;"
                <% } %>
                  >
                  <%= index.volumeDiff %>
            </td>

            <td <% if (index.volumeDiff>= 0) { %> style="color:green;"
              <%}  else { %>
                style="color:red;"
                <% } %>
                  >
                  <%= index.percDiff %>%
            </td>

          </tr>

          <% }); %>

      </tbody>
    </table>
  </div>
  <% include partials/footer %>